{% extends 'shop/basic.html' %}
{% load static %}
{% block css %}

    {% load static %}
    <link rel="stylesheet" href="{% static 'temp.css' %}">


{% endblock %}
{% block body %}
{% load static %}
    <div class="small-container single-product"  >
      <div class="row">
        <div class="col-2 Product_img">
            <div class="P_img">
             <img src="{{product.img.url}}">
            </div>
        </div>

        <div class="col-2 Product_details">
          <h2>{{product.product_Name}}</h2>
          <h5>Category: {{product.category}}</h5>
          <h4> <b> <i>Price: {{product.price}}$</i></b></h4>
          <input type="number" value="1">
            <div class="button">
                <button class="buttonIn ">Add To Cart</button>
                <button class="buttonIn ">Buy Now</button>
            </div>
          <h5 > Product Details:  <i class="fa fa-indent"></i></h5> <br>
          <p class="description"><i>{{product.desc}}</i></p>

        </div>
      </div>
    </div>
{% endblock %}


{% block js %}
<script>
console.log('working');
if(localStorage.getItem('cart') == null){
var cart = {};
}
else
{
cart = JSON.parse(localStorage.getItem('cart'));
document.getElementById('cart').innerHTML = Object.keys(cart).length;
}
$('.cart').click(function(){
console.log('clicked');
var idstr = this.id.toString();
console.log(idstr);
if (cart[idstr] !=undefined){
cart[idstr] = cart[idstr] + 1;
}
else
{
cart[idstr] = 1;
}
console.log(cart);
localStorage.setItem('cart', JSON.stringify(cart));
document.getElementById('cart').innerHTML = Object.keys(cart).length;
});
$('#popcart').popover();
document.getElementById("popcart").setAttribute('data-content', '<h5>Cart for your items in my shopping cart</h5>');
</script>
{% endblock %}